{% extends "template.twig" %}

{% block title %}404 Страница не найдена{% endblock %}

{% block main %}
    <section class="section error-404-section">
        <div class="container">
            <div class="section__wrap">
                <h1 class="section__title">404 Страница не найдена</h1>
            </div>
        </div>
    </section>
{% endblock %}
